# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Generated Caches
build
generated
*.tsbuildinfo

# Misc.
.vscode
.DS_Store
.env*

# Test Output
coverage
junit.xml
